    <div class="row card-header head">
        <div>
            <h5 style="margin-left: 12px;">Search Paintings</h5>
        </div>
        <div>
            <input class="form-control" style="width: 850px;" [(ngModel)]="filterimage" type="text" [placeholder]="filterInputPlaceholder" />
        </div>
        <div>
            <a class="cart" href="{{cartUrl}}"><img src='../../assets/images/cart.jpg' width="40">
                <h6 class="text-primary p-0 cartno" *ngIf="cartProductsNo !== 0">{{ cartProductsNo }}</h6>
            </a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of filteredProducts">
                <div class="card p-3" style="margin-bottom: 10px;">
                    <app-product-view [product] = "product" [describe]=false ></app-product-view>
                </div>
            </div>
        </div>
    </div>
